{% extends 'base.html' %}


{% block jumbotron %}

<!-- Jumbotron -->
<section>
  <div class="jumbotron p-5 text-center bg-image rounded-3">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="titlteContactUs">
        <h1 class="fw-bold">Welcome to your home 🤗</h1>
      </div>
    </div>
  </div>
</section>
<!-- Jumbotron -->

{% endblock jumbotron %}


{% block body %}
    <section class="site-section">
        <div class="container">
          <h1 class="py-5">{{job}}</h1>
          <div class="row">
            <div class="col-lg-8">
              <div class="mb-5 px-2">
                 <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left"></span>Job Description</h3>
                <p>{{job.description|safe}}</p>
              </div>
              <div class="mb-5 px-2">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket"></span>Responsibilities</h3>
                <ul class="list-unstyled m-0 p-0">
                  <p>{{job.JobResponsibilities|safe}}</p>
                </ul>
              </div>
  
              <div class="mb-5 px-2">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book"></span>Requirements</h3>
                <ul class="list-unstyled m-0 p-0">
                  <p>{{job.JobRequirements|safe}}</p>

                </ul>
              </div>
  
              <div class="mb-5 px-2">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in"></span>Vacancy</h3>
                <ul class="list-unstyled m-0 p-0">
                  <p>{{job.vacancy}}</p>
                </ul>
              </div>
  
              <div class="row">
   
                <div class="col">
                  <a href="{% url 'jobs:jobApply' job.slug %}" class="btn btn-block btn-primary btn-md">Apply Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock body %}
