{% extends 'bace.html' %}

{% block body %}

<section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Job Listed</h2>
        </div>
      </div>
      
      <ul class="job-listings mb-5">
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Product Designer</h2>
              <strong>Adidas</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> New York, New York
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Part Time</span>
            </div>
          </div>
          
        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Digital Marketing Director</h2>
              <strong>Sprint</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Overland Park, Kansas 
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Full Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Back-end Engineer (Python)</h2>
              <strong>Amazon</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Overland Park, Kansas 
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Full Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Senior Art Director</h2>
              <strong>Microsoft</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Anywhere 
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Full Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Product Designer</h2>
              <strong>Puma</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> San Mateo, CA 
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Full Time</span>
            </div>
          </div>
        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Product Designer</h2>
              <strong>Adidas</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> New York, New York
            </div>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">Part Time</span>
            </div>
          </div>
          
        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="jobDetail.html"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Digital Marketing Director</h2>
              <strong>Sprint</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Overland Park, Kansas 
            </div>
            <div class="job-listing-meta">
              <span class="badge">Full Time</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>


{% endblock body %}