{% extends 'base.html' %}

{% block jumbotron %}

<!-- Jumbotron -->
<section>
  <div class="jumbotron p-5 text-center bg-image rounded-3">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="titlteContactUs">
        <h1 class="fw-bold">Welcome to your home 🤗</h1>
      </div>
    </div>
  </div>
</section>
<!-- Jumbotron -->

{% endblock jumbotron %}

{% block body %}

<section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Job Listed</h2>
          <h6 class="mb-2">{{jobs.count}} Jobs Available</h6>
        </div>
      </div>
      
      <ul class="job-listings mb-5">
        {% for job in jobs  %}
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center mb-4">
          <a href="{% url 'jobs:jobDetail' job.slug %}"></a>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{job}}</h2>
              <strong>{{job.category}}</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{job.salary}}
            </div>
            <span class="d-sm-flex">{{job.published_at|date:'d M o'}}</span>
            <div class="job-listing-meta">
              <span class="badge d-sm-flex">{{job.job_type}}</span>
            </div>
          </div>
          
        </li>
        {% endfor %}

      </ul>
      
    </div>
  </section>


{% endblock body %}