.site-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
    z-index: 2; }
    @media (max-width: 991.98px) {
      .site-section {
        padding-top: 3rem;
        padding-bottom: 3rem; } 
      }
      .section-title {
    font-size: 2rem;
    font-weight: 700; 
  }
  
  .section-title-sub {
    font-size: 1rem;
    color: #ced4da; 
  }
  
  
  /* Job Listings */
  .job-listings {
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    background: #fff; 
  }
  .job-listing{
      height: 20vh;
  }
    .job-listings .badge {
      padding: px 10px;
      background-color: #fff3eb;
      color: #e67300;
      justify-content: center;
      align-items: center;
      border-radius: 0;
    }
    @media (max-width: 600px) {
      .job-listings .badge{
        height: 25px;
        display: inline;
        justify-content: center;
        align-items: center;
    } 
    }
    @media (max-width: 600px) {
      .job-listings .custom-width  {
        width: 100% !important; } 
    }
    .job-listings .job-listing {
      position: relative;
      border-bottom: 1px solid #eee;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
    }
      .job-listings .job-listing:last-child {
        border-bottom: none; 
    }
      .job-listings .job-listing a {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; 
    }
        .job-listings .job-listing a:hover {
          border-left: 7px solid #89ba16; 
        }
      .job-listings .job-listing{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        border-right: 1px solid #eee; 
    }
        @media (max-width: 575.98px) {
          .job-listings .job-listing {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%; } 
        }
    .job-listings .job-listing-position h2 {
      font-size: 1.2rem;
      margin-bottom: 0; 
      font-weight: bold;
    }
    .job-listings .job-listing-position strong {
      color: #b3b3b3; 
    }


.applyTitle{
  background-color: #00296b;
  color: #fdc500;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 1rem;
  border-left: 10px solid #fdc500;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
