{% extends 'base.html' %}
{% block body %}
    <!-- sc1 -->
    <section class="sc1 container-fluid text-center pt-5 ">
      <div class="">
        <h2>Quant</h2>
        <h1 class="display-1 fw-semibold">YOUR DATA, <span>WEALTH</span></h1>
        <h4>Where Data Meets Scince</h4>
      </div>
      <div class="p-3">
        <button class="btn-home btn btn-outline-success">Contact Us</button>
      </div>
      <div class="pt-sm-5">
        <div>
          <img src="img/line.svg" class="img-fluid" alt="">
        </div>
    </section>


    <!-- sc2 -->
    <section class="sc2 container-fluid text-center pt-5 pb-5">
      <!-- <div>
        <h3>Partner</h3>
      </div> -->
      <div class="row">
          <div class="container" style="width: 100%;">
            <section class="logo-carousel slider" data-arrows="true" dir="auto">
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image2.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image3.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image4.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image5.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image6.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image7.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image8.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image2.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image3.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image4.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image5.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image6.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image7.png"></div>
              <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image8.png"></div>
            </section>
          </div>
      </div>
    </section>




    <!-- <section class="sc2 text-center pt-5">
      <div>
        <img src="img/line.svg" alt="">
      </div>
    </section> -->

        
    <section class="sc3 container-fluid  p-5 pb-5">
      <div class="row">
        <div class="col-sm d-flex justify-content-center">
          <img src="img/Rectangle 5.svg" class="w-75" alt="">
        </div>
        <div class="col-sm-5 pt-5">
          <h4> Get to Know Task Management </h4>
          <br>
          <h1 class="fw-bold">Talk to a <br>Productivity Expert.</h1>
          <br>
          <p>Fruits360 is a BI and analytics <br>
            SaaS product that integrates with <br>
            your Point of Sale (POS) System and provides you <br>
            with an extensive detailed overview of your business data,<br>
            empowering you to instantly extract actionable</p>
        </div>
      </div>
    </section>


    <section class="sc3 container pt-5 pb-5">
      <div class="pb-5">
        <h3 class="fw-bold display-6">Features</h3>
      </div>
      <div class="responsive-three-column-grid">
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card border-0">
          <img src="img/Rectangle 5.svg" alt="">
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="sc4 container-fluid pt-5 pb-5" >
      <div class="row text-center align-items-center">
        <div class="col-sm py-4">
          <h1 class="display-2 fw-bold">+900</h1>
          <h6>Lorem, ipsum dolor.</h6>
        </div>
        <div class="col-sm py-4">
          <h1 class="display-2 fw-bold">+1M</h1>
          <h6>Lorem, ipsum dolor.</h6>
        </div>
        <div class="col-sm py-4">
          <h1 class="display-2 fw-bold">+10</h1>
          <h6>Lorem, ipsum dolor.</h6>
        </div>
      </div>
    </section>


    <section class="sc5 container-fluid d-flex justify-content-center pt-5 pb-5">
      <div class="row">
        <img src="img/Rectangle 5.svg" alt="">
      </div>
    </section>


    <section class="sc5 container-fluid d-flex justify-content-center pt-5 pb-5">
      <!-- <div class="row">
        <h1 class="display-6">Contact Us</h1>
        <button type="button" class="btn btn-primary">Primary</button>
      </div> -->
      <div class="card mb-3 rounded-2 contactEdit">
        <div class="row">
          <!-- <div class="col-sm">
            <img src="img/line.svg" alt="">
          </div> -->
          <div class="col-sm">
            <div class="card-body m-3 text-center">
              <h5 class="display-6 fw-bold">Let's talk</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button class="btn-home btn btn-outline-primary">Contact Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>



    {% endblock body %}